# TCP port to listen on
port: 8080

# Unix socket path (optional, if set, TCP is ignored)
# socket: /var/run/apt-cacher.sock

# Cache directory
cache_dir: /var/cache/apt-cacher

# Maximum cache size (bytes or human-readable format)
max_cache_size_human: "10 GB"

# Maximum LRU cache entries
max_lru_entries: 100000

# Repository Mappings
# Format: prefix: upstream_url
repositories:
  ubuntu: "http://archive.ubuntu.com/ubuntu"
  ubuntu-ports: "http://ports.ubuntu.com/ubuntu-ports"
  security: "http://security.ubuntu.com/ubuntu"
  debian: "http://deb.debian.org/debian"
  debian-security: "http://security.debian.org/debian-security"
  docker: "https://download.docker.com/linux/ubuntu"
  nodejs: "https://deb.nodesource.com/node_20.x"